body{
  font-family: 'Rajdhani', sans-serif;
}


section.o-que-eh{
  padding-bottom: 18px;
  width: 60%;
  margin: 0 auto;
}

section.como-usar{
  padding-top: 150px;
  margin: 0 auto;
  width: 70%;
}
//_ _ _ _ 

div.sobre{
  width: 95%;
  margin: 0 auto;
  padding: 30px 0;
  text-align: left;
 

    h2{
      color: #003366;
      font-size:30px;
      //mobile
     @media (max-width: 320px) {
              margin-bottom: 10px;
      }    
    }

      p{
        font-size: 16px;
        // tablet && mobile
         @media (max-width: 760px) {
                  font-size: 13px;
                  margin-bottom: 15px;
                  max-width: 100%;
                  padding-right: 10px;
             }   
           }     
  }

//--------- 


//General CARD carousel ______ 

div.cards {
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  
        //mobile
         @media (max-width: 320px) {
                 max-width:260px;
          }
    
        .cardimg {
          max-width:100%;
             //tablet && mobile
             @media (max-width: 768px) {
              max-width:100%;
              margin: 0 auto;
              }      
        }  


        .cardstyle{
             border: 1px solid #4a7093;
             background-color: #f0f7f7; 
             width: 100%;
             height: 330px;

               @media (max-width: 767px) {
                     // max-width:280px;
                     max-width:100%;
                     max-height:380px;
                   }
            }

        .pimg{
          font-size:14px;
          text-align:center;
          display:block;
          padding:10px 5px 0px 10px;

      }

   }



//BTN _____________________________

.comobtn{     
 
  width: 100%;
  max-width: 200px;
  height: 30px;
  margin: 30px auto;
  display: block;
  padding: 5px 5px 30px; 
  background-color: #0066CC;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  
  //tablet && mobile
  @media (max-width: 768px) {
          width: 50%;
          max-height: 30px;
          font-size: 18px;
          padding-bottom:20px;
    }  
}
  
