/*CORES*********

azul claro, a cor principal (logo + btns dowloads + Titulo Equipe) 
>> #0066CC

Azul escuro (Fonte Título h3) 
>> #003366

Cor dos textos em geral <p> 
>> #333333

Cor Marrom escuro quase preto da fonte rodapé:
#222220
*/

// Regras Gerais /////////////////////////////////////////////////////////////////
html { 
    font-size: 16px;
    }

body{
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
    color: #333333;
}
               
/* Resets personalizados */
p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

h3 {
    //margin: 0;
    color: #0066CC;
}

// /* Tornando as imagens responsivas */
// img { max-width: 100%; }


// Container ///////////////////////////////////////////////////////////////////////

// Nav ///////////////////////////////////////////////////////////////////////////
nav{
    width: 100%;
    margin: 0;
    padding: 40px 0;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 500;
    font-size: 18px;
    box-shadow: 0px 10px 40px 0px rgba(0,0,0,0.3);
    transition: 1s all ease;
    
    img.logo-nav{
        max-width: 20%;
    }

    ul{
        list-style: none;
        margin: 0;
        margin-right: 50px;
        padding: 0;
        display: flex;
        align-items: center;

        li{
            display: inline;
            margin: 15px;
            
            a{
                text-decoration: none;
                color: #333333;
            }
            
            a.download{
                background-color: #0066CC;
                color: #ffffff;
                padding: 10px 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 20px;
                font-weight: 500;
                box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
            }
        }
    }
}



// Como Usar /////////////////////////////////////////////////////////////////////////

section.como-usar {
    background-image: url("../img/background-large.png");
    background-size: cover;

    div.fundo {
            width: 70%;
            margin: 0 auto;
            background-color: #ffffff;
            //text-align: center;
            box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
            padding-bottom: 30px;
            
            h2 {
                padding: 30px 30px 0;
                margin: 0;
                font-size: 30px;
                color: #0066CC;
            }

        div.passos {
            // width: 70%;
            // margin: 0 auto;
            // background-color: #ffffff;
            //text-align: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            //padding: 41px 30px;

           

            div.passo-a-passo {
                width: 45%;
                //display: inline-block;
                //margin: 0 auto;

                img {
                    width: 100%;
                    border: 1px solid;
                }
     
                
                p {
                    font-size: 14px;
                    font-weight: 400;
                    text-align: left;
                }
            }

            hr.linha {
                width: 95%;
                border-color: #0066CC;
                border-width: 1px;
                margin: 30px 0;
                
            }
        }
    }

}


// Media Queries------------------------------------------------------------------------------
@media  (max-width: 768px){
    nav{
        padding: 20px 0;

        img.logo-nav{
            max-width: 30%;
        }
        
        ul {
            display: none;
        }
        
        img.menu{
            display: block;
            max-width: 25px;
        }
    }


    section.quem-fez {
        font-size: 0.9em;
   
        div.title-section {
            padding: 30px 0;
        }

        div.equipe {  
        

            div.cards {
                    
                div {

                    p {
                        padding-bottom: 20px;
                        
                    }
                }
            }
        }


        

    }

}

@media  (max-width: 450px){

    section.quem-fez {
        font-size: 0.8em;
        text-align: center;

        div.title-section {
            //padding: 30px 0;
            width: 40%;
            padding: 20px;

            p {
                margin: 0 auto;
                padding: 0;
            }

            h2 {
                margin: 0 auto;
            }
        }

        div.equipe {  
            width: 60%;
            font-size: 13px; 

            div.cards {
                   
                div {
                    width: 50%;

                    p {
                        padding-bottom: 20px;
                     
                    }
                }
            }
        }
    }
}





// Footer ////////////////////////////////////////////////////////////////////////
footer{
    width: 100%;
    margin: 30px auto;
    text-align: center;
    background: #ffffff;
    
    .logo-footer{
        max-width: 130px;
        margin: 50px 0 0 0;
    }

    p{
        margin: 0;
        font-weight: bold;
        font-size: 12px;
    }


}

